div.post {
  color: inherit;
  padding: 2rem;
}

.card {
  background: #141b22;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 16px;

  margin-bottom: 16px;
}

.image {
  height: 250px;
  background-size: cover;
  background-position: center;

}